In [1]:
import pandas as pd

df = pd.read_csv("../data/raw/covid_misinfo_raw.csv")

In [2]:
df.shape

(195843, 6)

In [3]:
df.columns

Index(['id', 'time', 'friends', 'followers', 'label', 'graph_id'], dtype='object')

In [4]:
df.head()

          id    time  friends  followers  label  graph_id
0  582746618   35312        8          6      0      1069
1   83528167   22636        9          7      0      1069
2  611354762   32483        7          9      0      1069
3  129109380  115680        8          6      0      1069
4    4826186   32264       12         10      0      1069

In [5]:
df["label"].value_counts()

label
0    157146
1     38697
Name: count, dtype: int64

In [6]:
df["graph_id"].nunique()

2502