In [2]:
import pandas as pd

df = pd.read_csv("../data/processed/covid_misinfo_processed.csv")
print(df.shape)
print(df.columns)
df.head()

(195843, 6)
Index(['id', 'time', 'friends', 'followers', 'label', 'graph_id'], dtype='object')

          id    time  friends  followers  label  graph_id
0  582746618   35312        8          6      0      1069
1   83528167   22636        9          7      0      1069
2  611354762   32483        7          9      0      1069
3  129109380  115680        8          6      0      1069
4    4826186   32264       12         10      0      1069

In [3]:
df.columns

Index(['id', 'time', 'friends', 'followers', 'label', 'graph_id'], dtype='object')